@model IEnumerable<MovieBackLogFramework.Models.Movie>
@{
    ViewBag.Title = "Movies";
}

<h2>Movies To Add</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Running Time</th>
            <th>Genres</th>
            <th>Add To Backlog</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts {
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/backlog/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Title",

                        //render: function(data, type, movie) {
                        //    return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        //}
                    },
                    {
                        data: "ReleaseYear",
                        //render: function (movie) {
                        //    return movie.runningtime;
                        //}
                    },
                    {
                        data: "RunningTime",
                        //render: function (movie) {
                        //    return movie.releasedate;
                        //}
                    },
                    {
                        data: "Genres",
                        render: function (data) {
                            var gens = "";
                            data.forEach(function (value, index, array) {
                                gens = gens + " " + value.Name;
                            });
                            return gens;
                        }
                    },
                    {
                        data: "MovieId",
                        render: function (data) {
                            return "<button class='btn-link js-add' data-movie-id=" + data + " " + "data-user-id=" + "@ViewBag.userId" + ">Add</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-add", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to add to your backlog!?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/backlog/add" + "/" + button.attr("data-movie-id") + "/" + button.attr("data-user-id"),
                            method: "POST",
                            success: function () {
                                bootbox.alert("Oh no, movie added. You will never finish your backlog now!");
                            }
                        });
                    }
                });
            });
        });
        </script>
    }