@model IEnumerable<MovieBackLogFramework.Models.Movie>

@{

    ViewBag.Title = "Backlog";
}

@*TODO take users name and place into view to personalize backlog view*@
<h2>Your Backlog</h2>

@*TODO list movies here*@
<table id="backlog" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Running Time</th>
            <th>Remove Off Backlog</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<p>
    @* TODO Have an add to backlog button that takes you to a seperate list of movies and then an option to add to backlog. *@
</p>



@section scripts {
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            var table = $("#backlog").DataTable({
                ajax: {
                    url: "/api/backlog/" + "@ViewBag.userId",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Title",
                        
                        //render: function(data, type, movie) {
                        //    return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        //}
                    },
                    {
                        data: "ReleaseYear",
                        //render: function (movie) {
                        //    return movie.runningtime;
                        //}
                    },
                    {
                        data: "RunningTime",
                        //render: function (movie) {
                        //    return movie.releasedate;
                        //}
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#backlog").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to remove this movie from backlog?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/backlog/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });


    </script>
}
