@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Backlog</h1>
    <p class="lead">Backlog is a free web application that allows you to keep track of what movies you still HAVE to watch!</p>
    @* TODO: Create a tutorial page for users that links from here *@
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

